body {
	background-color: #f0f8ff;
	color: black;
	text-align: center;
	font-family: "Verdana", "Deja Sans", "Tahoma", "Arial", "Helvetica";
	font-size: 9pt;
}

div.wrapper {
	display: table;
	background-color: transparent;
	vertical-align: middle;
	width: 100%;
	margin: 0;
	padding: 0;
}

div.hspacer {
	display: table-cell;
	width: 18%;
}

div.vspacer {
	position: relative;
	height: 20%;
}

div.body {
	display: table-cell;
	background: #ffffff;
	text-align: justify;
	height: auto;
	width: auto;
	border: #cccccc 1px solid;
	padding: 15px 15px;
}

hr {
	border-color: #cccccc;
	border-width: 1px 0px 0px 0px;
	border-style: solid;
}


img {
	border-style: none;
}

a, a:link {
	color: #0040ff;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #0080ff;
	text-decoration: underline;
}

a:visited {
	color: #4c6098;
	text-decoration: none;
}

div.footer {
	font-weight: bold;
	font-size: 8pt;
	text-align: center;
}

table.logo, tr.logo, td.logo {
	border-style: none;
	border-width: 0px 0px 0px 0px;
	width: 100%;
	margin: 0px 0px 0px 0px;
	background: transparent;
	vertical-align: middle;
}

td.logoright, div.logoright {
	border-style: none;
	border-width: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background: transparent;
	vertical-align: middle;
}

table.content, tr.content {
	border: 0;
	margin: 0;
	padding: 0;
	height: auto;
}

td.left-pane {
	padding-right: 5px;
}

td.right-pane {
	width: 40%;
	text-align: right;
	padding-top: 10px;
	padding-bottom: 15px;
	padding-left: 5px;
}

li {
	line-height: 2.0;
}